* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: "Boxed";
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}

/*header .backimg {*/
    /*width: 1920px;*/
    /*height: 186px;*/
    /*position: absolute;*/
    /*top: 0px;*/
    /*left: 50%;*/
    /*margin-left: -960px;*/
    /*z-index: -1;*/
/*}*/

header {
    z-index: 1;
    position: relative;
    background-image: url(../img/png/headerback.png);
    background-position: center;
    background-size: cover;
    height: 200px;
}

header .left {
    float: left;
    display: inline-block;
    max-width: 450px;
    width: 100%;
}

.clear {
    clear: both;
}

header .left .contact {

    margin-top: 21px;
}

header .left .contact a {
    font-size: 13px;
    line-height: 22px;
    color: #132f30;
    text-decoration-line: none;

}

header .left .contact a img{
    vertical-align: baseline;
}

header .left .social {
    float: left;
}

header .left .social a {
    display: inline-block;
}

header .left .clock {
    font-size: 13px;
    line-height: 16px;
    font-family: "Boxed Book";
    color: #00a9af;
    float: right;

}

header .left .clock .leftClock, header .left .clock .rightClock{
    display: inline-block;
}

header .left .clock .leftClock .timeWrapper{
    width: 42px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    text-align: center;
    display: inline-block;
}

header .left .clock .leftClock .timeWrapper{
    background: url("../img/png/time_01.png");
}

header .left .clock .leftClock .timeWrapper span{
    color: white;
    line-height: 40px;
}

header .logo {
   position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 200px;
    text-align: center;
}

header .logo a{
    text-decoration: none;
    display: block;
}
/*header .logo + span {*/
    /*float: left;*/
    /*width: calc(100% - 544px);*/
    /*padding: 0 10px 90px;*/
/*}*/

header .logo p span.fd {
    font-size: 21px;
    line-height: 26px;
    color: #113132;
    font-weight: 600;
    margin-right: -5px;
}

header .logo p span.inv {
    font-size: 21px;
    line-height: 26px;
    color: #113132;
    font-weight: 200;
}

header .right {
    float: right;
    display: inline-block;
    text-align: right;
}


header .right .con a {
    font-size: 13px;
    line-height: 22px;
    color: #132f30;
    font-weight: 300;
    text-decoration: none;
}

header .right .button div{
    display: inline-block;
}

header .button a {
    text-decoration: none;
}

header .button span.skyp {
    font-size: 13px;
    line-height: 26px;
    color: #11a6d1;
    font-weight: 500;

}

header .button span.log {
    font-size: 13px;
    line-height: 26px;
    color: #79ab19;
    font-weight: 500;
}

header .button span.reg {
    font-size: 13px;
    line-height: 26px;
    color: #00a688;
    font-weight: 500;
}

header .menu {
    margin-top: 45px;
}

header .menu .menuLeft a {
    display: block;
}
header .menuLeft {
    float: left;
    display: inline-block;
}

header .menuLeft li {
    display: inline-block;
    margin-right: 18px;
}

header .menuLeft li a {
    font-size: 15px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
}

header .menuRight {
    float: right;
    display: inline-block;
}

header .menuRight li {
    display: inline-block;
    margin-left: 18px;
}

header .menuRight li a {
    font-size: 15px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
}

.content .backImg1 {
    z-index: -1;
    margin: 0px;
}

.content {
    position: relative;
    z-index: 1;
    background-position: center;
    background-size: cover;
}

.content .label {
    width: 25%;
    float: left;
}

.content .label span.lab1 {
    font-size: 21px;
    line-height: 50px;
    color: #ffffff;
    font-weight: 200;
}

.content .label span.lab2 {
    font-size: 21px;
    line-height: 50px;
    color: #ffffff;
    font-weight: 600;
}

.content .label span.lab3 {
    font-size: 21px;
    line-height: 27px;
    color: #ffffff;
    font-weight: 200;
}

.content .label span.lab4 {
    font-size: 55px;
    line-height: 60px;
    color: #00bfc6;
    font-weight: 600;
}

.content .label span.lab5 {
    font-size: 55px;
    line-height: 60px;
    color: #88c612;
    font-weight: 600;
}

.content .label span.lab6 {
    font-size: 55px;
    line-height: 60px;
    color: #00b998;
    font-weight: 600;
}

.content .infStat span:nth-child(3) {
    color: #ffffff;
    font-size: 33px;
    line-height: 27px;
    font-weight: 600;
}

.content .infStat span:nth-child(4) {
    color: #ffffff;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
}

.content .label2 {
    color: #ffffff;
    font-size: 123px;
    line-height: 121px;
    font-weight: 600;
}

.content .infLeft p.mom {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    color: #88c612;
}

.content .infLeft p.proc {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    color: #00b998;
}

.content .infCentr span.proc1 {
    font-size: 14px;
    line-height: 46px;
    font-weight: 700;
    color: #00b998;
}

.content .infCentr span.proc2 {
    font-size: 14px;
    line-height: 46px;
    font-weight: 700;
    color: #88c612;
}

.content .infCentr span.proc3 {
    font-size: 14px;
    line-height: 46px;
    font-weight: 700;
    color: #00bfc6;
}

.content .infRight p.rost {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    color: #00bfc6;
}

.content .infRight p.refProg {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    color: #1ebcea;
}

.content .infKomp span.comp {
    font-size: 39px;
    line-height: 25px;
    font-weight: 700;
    color: #132f30;
}

.content .imfKomp span.nazv {
    font-size: 15px;
    line-height: 25px;
    font-weight: 600;
    color: #183751;
}

.content .infKomp p.nazv {
    font-size: 15px;
    line-height: 25px;
    font-weight: 300;
    color: #183751;
}

.content .infKomp a {
    font-size: 17px;
    line-height: 26px;
    font-weight: 600;
    text-decoration: none;
    color: #7fbd07;
}

.content .detail span.nameReg {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    color: #132f30;
}

.content .detail p.nameReg {
    font-size: 13px;
    line-height: 22px;
    font-weight: 300;
    color: #132f30;
}

.content .detail a.nameReg {
    font-size: 13px;
    line-height: 24px;
    font-weight: 300;
    color: #132f30;
    text-decoration: none;
}

.content a.licens {
    font-size: 17px;
    line-height: 26px;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
}

.content .newsBlock span.news {
    font-size: 23px;
    line-height: 22px;
    font-weight: 600;
    color: #88c612;
}

.content .newsBlock p.chate {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    color: #88c612;
}

.content .newsBlock span.date {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    color: #00bfc6;
}

.content .newsBlock p.link {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    color: #ffffff;
}

.content .newsBlock a.part {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    color: #88c612;
}

.content .newsBlock a.watchNew {
    font-size: 13px;
    line-height: 26px;
    font-weight: 500;
    text-decoration: none;
    color: #88c612;
}

.content .reviews span.reviews {
    font-size: 23px;
    line-height: 22px;
    font-weight: 600;
    color: #00b998;
}

.content .reviews span.fio {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    color: #00c8a4;
}

.content .reviews span.adress {
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #00c8a4;
}

.content .reviews span.date {
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #00bfc6;
}

.content .reviews p.otz {
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #ffffff;
}

.content .reviews a.linkRef {
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #00b998;
}

.content .reviews a.otz {
    font-size: 13px;
    line-height: 26px;
    font-weight: 500;
    text-decoration: none;
    color: #00b998;
}

footer .partnersLeft {
    display: block;

}

footer .menuRight {
    display: block;
}

.menuRight li.mf1 {
    float: left;
    width: 25%;
}

.menuRight li.mf2 {
    float: left;
    width: 25%;
}

.menuRight li.mf3 {
    float: left;
    width: 25%;
}

.menuRight li.mf4 {
    float: left;
    width: 25%;
}

footer .backimg {
    /*width: 1920px;*/
    /*height: 368px;*/
    position: relative;
    top: 1121px;
    left: 50%;
    margin-left: -960px;
    z-index: -2;
}

footer {
    position: relative;
    z-index: 1;
}

footer .footerCenter {
    float: left;
    width: 50%;
}

footer .rightFooter {
    float: left;
    width: 25%;
}

footer .menuFooter a {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #88c612;
}

footer .logoFooter span:nth-child(2) {
    font-size: 25px;
    line-height: 31px;
    font-weight: 600;
    color: #ffffff;
}

footer .logoFooter span:nth-child(3) {
    font-size: 25px;
    line-height: 31px;
    font-weight: 200;
    color: #ffffff;
}

footer .copyright span {
    font-size: 14px;
    line-height: 26px;
    font-weight: 300;
    color: #ffffff;
}

footer .contactFooter a:nth-child(1) {
    font-size: 13px;
    line-height: 24px;
    font-weight: 300;
    text-decoration: none;
    color: #00b998;
}

footer .contactFooter a:nth-child(2) {
    font-size: 13px;
    line-height: 24px;
    font-weight: 300;
    text-decoration: none;
    color: #00b998;
}

footer .contactFooter a:nth-child(3) {
    font-size: 13px;
    line-height: 24px;
    font-weight: 300;
    text-decoration: none;
    color: #00bfc6;
}

footer .contactFooter a:nth-child(4) {
    font-size: 13px;
    line-height: 24px;
    font-weight: 300;
    text-decoration: none;
    color: #00bfc6;
}




