* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: "Boxed";
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}


header .backImg {
    width: 1920px;
    height: 206px;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -960px;
    z-index: -1;
}

header {
    position: relative;
    z-index: 1;
}

.bodyWrap {
    overflow: hidden;
}

header .left {
    float: left;
    display: inline-block;
    max-width: 450px;
    width: 100%;
}

.clear {
    clear: both;
}

header .left .contact {

    margin-top: 21px;
}

header .left .contact a {
    font-size: 13px;
    line-height: 22px;
    color: #132f30;
    text-decoration-line: none;

}

header .left .contact a img {
    vertical-align: baseline;
}

header .left .social {
    float: left;
}

header .left .social a {
    display: inline-block;
}

header .left .clock {
    font-size: 13px;
    line-height: 16px;
    font-family: "Boxed Book";
    color: #00a9af;
    float: right;

}

header .left .clock .leftClock, header .left .clock .rightClock {
    display: inline-block;
}

header .left .clock .leftClock .timeWrapper {
    width: 42px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    text-align: center;
    display: inline-block;
}

header .left .clock .leftClock .timeWrapper {
    background: url("../img/png/time_01.png");
}

header .left .clock .leftClock .timeWrapper span {
    color: white;
    line-height: 40px;
}

header .logo {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 200px;
    text-align: center;

}

header .logo a {
    text-decoration: none;
    display: block;
}

/*header .logo + span {*/
/*float: left;*/
/*width: calc(100% - 544px);*/
/*padding: 0 10px 90px;*/
/*}*/

header .logo p span.fd {
    font-size: 21px;
    line-height: 26px;
    color: #113132;
    font-weight: 600;
    margin-right: -5px;
}

header .logo p span.inv {
    font-size: 21px;
    line-height: 26px;
    color: #113132;
    font-weight: 200;
}

header .logo .invisLink {
    position: relative;
    z-index: 1;
}

header .logo .invisLink > a {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-indent: 200%;
    white-space: nowrap;
}

header .right {
    float: right;
    display: inline-block;
    text-align: right;
}


header .right .con a {
    font-size: 13px;
    line-height: 22px;
    color: #132f30;
    font-weight: 300;
    text-decoration: none;
}

header .right .button div {
    display: inline-block;
}

header .button a {
    text-decoration: none;
}

header .button span.skyp {
    font-size: 13px;
    line-height: 26px;
    color: #11a6d1;
    font-weight: 500;

}

header .button span.log {
    font-size: 13px;
    line-height: 26px;
    color: #79ab19;
    font-weight: 500;
}

header .button span.reg {
    font-size: 13px;
    line-height: 26px;
    color: #00a688;
    font-weight: 500;
}

header .menu {
    margin-top: 45px;
}

header .menu .menuLeft a {
    display: block;
}

header .menuLeft {
    float: left;
    display: inline-block;
}

header .menuLeft li {
    display: inline-block;
    margin-right: 18px;
}

header .menuLeft li a {
    font-size: 15px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
}

header .menuRight {
    float: right;
    display: inline-block;
}

header .menuRight li {
    display: inline-block;
    margin-left: 18px;
}

header .menuRight li a {
    font-size: 15px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
}

.content .statistic .backImg1 {
    width: 1920px;
    height: 634px;
    position: absolute;
    top: -33px;
    left: 50%;
    margin-left: -960px;
    z-index: -2;
    filter: drop-shadow(15px 15px 10px rgba(0, 0, 0, 0.10));
}

.content .statistic {
    position: relative;
    z-index: -1;
    height: 600px;
}

.content .label .clear {
    clear: both;
}

.content .labelInf {
    width: 25%;
    float: left;
    margin: 70px 0 0 0;

}

.content .label .lab1 span:nth-child(1) {
    font-size: 21px;
    line-height: 50px;
    color: #ffffff;
    font-weight: 200;
}

.content .label .lab1 span:nth-child(2) {
    font-size: 21px;
    line-height: 50px;
    color: #ffffff;
    font-weight: 600;
}

.content .label .lab1 p:nth-child(3) {
    font-size: 21px;
    line-height: 27px;
    color: #ffffff;
    font-weight: 200;
}

.content .label .lab2 p:nth-child(1) {
    font-size: 55px;
    line-height: 60px;
    color: #00bfc6;
    font-weight: 600;
}

.content .label .lab2 p:nth-child(2) {
    font-size: 55px;
    line-height: 60px;
    color: #88c612;
    font-weight: 600;
}

.content .label .lab2 p:nth-child(3) {
    font-size: 55px;
    line-height: 60px;
    color: #00b998;
    font-weight: 600;

}


.content .label .labelInf button {
    position: center;
}

.content .infStat {
    position: relative;
    text-align: center;
    top: 30px;
    right: 2px;

}

.content .infStat .open span:nth-child(1) {
    top: 15px;
    left: 82px;
    text-align: center;
    display: block;
    margin: 10px;
    position: absolute;
    font-size: 25px;
}


.content .infStat .open span:nth-child(3) {
    color: #ffffff;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    top: 60px;
    left: 62px;
    display: block;
    margin: 10px;
    position: absolute;
}

.content .infStat .open span:nth-child(4) {
    color: #ffffff;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    top: 70px;
    left: 30px;
    display: block;
    margin: 10px;
    position: absolute;
}


.content .infStat .open span:nth-child(5) {
    color: #ffffff;
    font-size: 27px;
    line-height: 33px;
    font-weight: 600;
    top: 100px;
    left: 36px;
    margin: 0 auto;
    display: block;
    position: absolute;
}

.content .infStat .inv span:nth-child(1) {
    top: 15px;
    left: 82px;
    text-align: center;
    display: block;
    margin: 10px;
    position: absolute;
    font-size: 25px;
}


.content .infStat .inv span:nth-child(3) {
    color: #ffffff;
    font-size: 27px;
    line-height: 33px;
    font-weight: 600;
    top: 74px;
    left: 69px;
    display: block;
    margin: 10px;
    position: absolute;
}

.content .infStat .inv span:nth-child(4) {
    color: #ffffff;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    top: 100px;
    left: 54px;
    display: block;
    margin: 10px;
    position: absolute;
}

.content .infStat .payinv span:nth-child(1) {
    top: 15px;
    left: 82px;
    text-align: center;
    display: block;
    margin: 10px;
    position: absolute;
    font-size: 25px;
}


.content .infStat .payinv span:nth-child(3) {
    color: #ffffff;
    font-size: 27px;
    line-height: 33px;
    font-weight: 600;
    top: 74px;
    left: 55px;
    display: block;
    margin: 10px;
    position: absolute;
}

.content .infStat .payinv span:nth-child(4) {
    color: #ffffff;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    top: 100px;
    left: 40px;
    display: block;
    margin: 10px;
    position: absolute;
}

.content .infStat .payments1 span:nth-child(1) {
    top: 15px;
    left: 82px;
    text-align: center;
    display: block;
    margin: 10px;
    position: absolute;
    font-size: 25px;
}


.content .infStat .payments1 span:nth-child(3) {
    color: #ffffff;
    font-size: 27px;
    line-height: 33px;
    font-weight: 600;
    top: 74px;
    left: 50px;
    display: block;
    margin: 10px;
    position: absolute;
}

.content .infStat .payments1 span:nth-child(4) {
    color: #ffffff;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    top: 100px;
    left: 60px;
    display: block;
    margin: 10px;
    position: absolute;
}

.content .infStat .open {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 20px;
    width: 200px;

}

.content .infStat .inv {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 246px;
    width: 200px;
    top: 140px;
}

.content .infStat .payments1 {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 2.5px;
    width: 200px;
    top: 260px;
    text-align: center;
}

.content .infStat .payinv {
    position: absolute;
    margin: 0 auto;
    left: 243px;
    right: 0;
    width: 200px;
    top: 140px;
    text-align: center;
}


.content .infStat2 .backImg2 {
    width: 1920px;
    height: 320px;
    position: absolute;
    top: -74px;
    left: 50%;
    margin-left: -960px;
    z-index: -3;
}

.content .infStat2 {
    position: relative;
    z-index: -2;
    height: 300px;
}

.content .infLeft {
    float: left;
}


.content .infLeft p.mom {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    color: #88c612;
}

.content .infLeft .infL1 {
    margin-right: 50px;
    display: inline-block;
    vertical-align: middle;
}

.content .infLeft .infL2 {
    margin-right: 50px;
    display: inline-block;
    vertical-align: middle;
}

.content .infIcon {
    display: inline-block;
}

.content .infText {
    display: inline-block;
    vertical-align: middle;
}

.content .infLeft p.proc {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    color: #00b998;
}

.content .infCentr {
    float: left;
    margin-left: 196px;
}

.content .infCentr span.proc1 {
    font-size: 14px;
    line-height: 46px;
    font-weight: 700;
    color: #00b998;
}

.content .infCentr span.proc2 {
    font-size: 14px;
    line-height: 46px;
    font-weight: 700;
    color: #88c612;
}

.content .infCentr span.proc3 {
    font-size: 14px;
    line-height: 46px;
    font-weight: 700;
    color: #00bfc6;
}

.content .infCentr .cL, .cC, .cR {
    display: inline-block;
}

.content .infRight .infR1, .infR2 {
    display: inline-block;
    margin-left: 50px;
}

.content .infRight {
    float: right;

}

.content .infRight p.rost {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    color: #00bfc6;
}

.content .infRight p.refProg {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    color: #1ebcea;
}

.content .about .backImg3 {
    width: 1920px;
    height: 701px;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -960px;
    z-index: -3;
}

.content .about {
    position: relative;
    z-index: -2;
    height: 695px;
}

.content .detail .backImg4 {
    width: 1920px;
    height: 772px;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -960px;
    z-index: -3;
}

.content .detail {
    position: relative;
    z-index: -2;
    height: 750px;
}

.content .detail .detailCenter {
    position: absolute;
    top: 27px;
    left: 277px;
}

.content .detail .detailRight {
    position: absolute;
    background-color: #ffffff;
    left: 921px;
    height: 308px;
    width: 209px;
    top: 73px;
}

.content .infKomp {
    text-align: center;
}

.content .infKomp .infLab {
    padding: 50px 0 0 0;
}

.content .infKomp .infNaz {
    padding: 70px 0 0 0;
}


.content .infKomp .infLab label {
    font-size: 39px;
    line-height: 25px;
    font-weight: 700;
    color: #132f30;
}

.content .infKomp .infNaz span:nth-child(2) {
    font-size: 15px;
    line-height: 25px;
    font-weight: 300;
    color: #183751;
}

.content .infKomp .infNaz span:nth-child(1) {
    font-size: 15px;
    line-height: 25px;
    font-weight: 600;
    color: #183751;
}

.content .infKomp .button {
    padding: 150px 0 0 0;
}

.content .infKomp .button a {
    font-size: 17px;
    line-height: 26px;
    font-weight: 600;
    text-decoration: none;
    color: #7fbd07;

}

.content .detail .detail1 {
    position: relative;
}

.content .detail .detail1 .detailLeft {
    background-color: #ffffff;
    width: 217px;
    height: 303px;
    position: absolute;
    top: 79px;
    left: 34px;
    text-align: left;
}


.content .detail span.nameReg {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    color: #132f30;
}

.content .detail p.nameReg {
    font-size: 13px;
    line-height: 22px;
    font-weight: 300;
    color: #132f30;
}

.content .detail a.nameReg {
    font-size: 13px;
    line-height: 24px;
    font-weight: 300;
    color: #132f30;
    text-decoration: none;
}

.content a.licens {
    font-size: 17px;
    line-height: 26px;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
}

.content .newsRev .backImg5 {
    width: 1920px;
    height: 607px;
    position: absolute;
    top: -45px;
    left: 50%;
    margin-left: -960px;
    z-index: -4;
}

.content .newsRev {
    position: relative;
    z-index: -3;
    height: 600px;
}

.content .newsBlock span.news {
    font-size: 23px;
    line-height: 22px;
    font-weight: 600;
    color: #88c612;
}

.content .newsBlock p.chate {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    color: #88c612;
}

.content .newsBlock span.date {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    color: #00bfc6;
}

.content .newsBlock p.link {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    color: #ffffff;
}

.content .newsBlock a.part {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    color: #88c612;
}

.content .newsBlock a.watchNew {
    font-size: 13px;
    line-height: 26px;
    font-weight: 500;
    text-decoration: none;
    color: #88c612;
}

.content .reviews span.reviews {
    font-size: 23px;
    line-height: 22px;
    font-weight: 600;
    color: #00b998;
}

.content .reviews span.fio {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    color: #00c8a4;
}

.content .reviews span.adress {
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #00c8a4;
}

.content .reviews span.date {
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #00bfc6;
}

.content .reviews p.otz {
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #ffffff;
}

.content .reviews a.linkRef {
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #00b998;
}

.content .reviews a.otz {
    font-size: 13px;
    line-height: 26px;
    font-weight: 500;
    text-decoration: none;
    color: #00b998;
}

footer .partnersLeft {
    display: block;

}

footer .menuRight {
    display: block;
}

.menuRight li.mf1 {
    float: left;
    width: 25%;
}

.menuRight li.mf2 {
    float: left;
    width: 25%;
}

.menuRight li.mf3 {
    float: left;
    width: 25%;
}

.menuRight li.mf4 {
    float: left;
    width: 25%;
}

footer .backimg {
    width: 1920px;
    height: 368px;
    position: absolute;
    top: -100px;
    left: 50%;
    margin-left: -960px;
    z-index: -2;
}

footer {
    position: relative;
    z-index: 1;
    height: 358px;
}

footer .footerLeft {
    display: inline-block;
    width: 0px;
}

footer .footerLeft .partnersLeft {
    display: table;
    width: 33%;
}

footer .tCell1 {
    display: table-cell;

    padding: 0 65px 0 0;
}

footer .tCell2 {
    display: table-cell;
    width: 33%;
    padding: 0 65px 0 0;
}

footer .tCell3 {
    display: table-cell;
    width: 33%;

}

footer .menuFooter {
    text-align: left;
    display: table;
    width: 33%;
    margin-top: 84px;
}

footer .menuFooter .mf1 {
    display: table-cell;
    padding-right: 50px;
}

footer .menuFooter .mf2 {
    display: table-cell;
    padding-right: 50px;
}
footer .menuFooter .mf3 {
    display: table-cell;
    padding-right: 50px;
}
footer .menuFooter .mf4 {
    display: table-cell;

}

footer .footerCenter {
    display: inline-block;
    margin-left: 540px;
}

footer .rightFooter {
    
}

footer .menuFooter a {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #88c612;
}

footer .logoFooter span:nth-child(2) {
    font-size: 25px;
    line-height: 31px;
    font-weight: 600;
    color: #ffffff;
}

footer .logoFooter span:nth-child(3) {
    font-size: 25px;
    line-height: 31px;
    font-weight: 200;
    color: #ffffff;
}

footer .copyright span {
    font-size: 14px;
    line-height: 26px;
    font-weight: 300;
    color: #ffffff;
}

footer .contactFooter a:nth-child(1) {
    font-size: 13px;
    line-height: 24px;
    font-weight: 300;
    text-decoration: none;
    color: #00b998;
}

footer .contactFooter a:nth-child(2) {
    font-size: 13px;
    line-height: 24px;
    font-weight: 300;
    text-decoration: none;
    color: #00b998;
}

footer .contactFooter a:nth-child(3) {
    font-size: 13px;
    line-height: 24px;
    font-weight: 300;
    text-decoration: none;
    color: #00bfc6;
}

footer .contactFooter a:nth-child(4) {
    font-size: 13px;
    line-height: 24px;
    font-weight: 300;
    text-decoration: none;
    color: #00bfc6;
}




